{% extends "profile/profile-generic.html" %}

{% block content %}
    <h2>Security &amp Login</h2>
    <hr>
    <div style="margin-left:20px;padding-top:25px">
    	<!-- put in form boxes -->
        <p>Username</p> 
        <textarea rows="2" cols="70">Will be having ability to change username and validate unique against database; button for confirmation</textarea>
        <p>Password</p>
        <textarea rows="2" cols="70">Will be having ability to change password; button for confirmation</textarea>
    </div>
{% endblock %}

