{% extends "profile/profile-generic.html" %}

{% block content %}
    <h2>History &amp Watchlists</h2>
    <hr>
    <div style="margin-left:20px;padding-top:25px">
        <div>
            <p><big>Your Watchlists:</big></p>
            <div><!-- box of items in watchlist in list -->
                <!-- Get pagination -->
            </div>
        </div>
        <br>
        <hr>
        <div>
            <p><big>Your recent watch history:</big></p>
            <div><!-- box of items in watchlist in list -->
            </div>
        </div>       
    </div>
{% endblock %}