<!-- Pagination test taken from sqlalchemy documentation -->

{% extends "profile/profile-generic.html" %}

{% block content %}
    <a href="/profile/history" style="font-size: 0.8rem">Back</a>
    <h2>{{ watch_name }}</h2>
    <hr>
    <div style="margin-left:20px; margin-right:20px; padding-top:25px" class="list-group list-group-flush">
    	{% for post in posts.items %}
    		<p></p>
    </div>
{% endblock %}

<!-- {% macro render_pagination(pagination, endpoint) %}
	<div class="pagination">
		{%- for page in pagination.iter_pages() %}
			{% if page %}
				{% if page != pagination.page %}
					<a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
				{% else %}
					<strong>{{ page }}</strong>
				{% endif %}
			{% else %}
				<span class="ellipsis">...</span>
			{% endif %}
		{%- endfor %}
	</div>
{% endmacro %} -->