{% extends "profile/profile-generic.html" %}

{% block content %}
    <h2>Recommendation</h2>
    <hr>
    <div style="margin-left:20px;padding-top:25px">
        <p style="margin-left:-20px;text-align:center"><big>Your recommended streaming service:</big></p>
        <p style="margin-left:-20px;text-align:center"><strong>{{service_recc}}</strong></p>
    <!-- will want to add what you can watch on service later -->
    <!--<br>
    <br>
    <hr>
    <p style="text-align:center;padding-top:25px"><big>Can't find what you want by streaming?</big></p>
    fill in menu and button stuff later
    -->
    </div>
{% endblock %}
