{% extends "profile/profile-generic.html" %}

{% block content %}
    <h2>Linked Accounts</h2>
    <hr>
    <!-- change opacity of these buttons depending on if have link or not: if false offer to linki -->
    <div style="margin-left:20px;padding-top:25px">
        <ul style="list-style-type:none">
            <!-- make each of these lists into a div block later -->
            {% if linked.amazon_prime == true %}
                <li><a href="https://www.amazon.com/Prime-Video/b?ie=UTF8&node=2676882011">Amazon Prime Video</a></li>
            {% else %}
                <li>Amazon Prime Video</li>
            {% endif %}
            {% if linked.netflix == true %}
                <li><a href="https://www.netflix.com/browse">Netflix</a></li>
            {% else %}
                <li>Netflix</li>
            {% endif %}
            {% if linked.hbo == true %}
                <li><a href="https://www.hbo.com/">HBO</a></li>
            {% else %}
                <li>HBO</li>
            {% endif %}
            {% if linked.hulu == true %}
                <li><a href="https://www.hulu.com/welcome">Hulu</a></li>
            {% else %}
                <li>Hulu</li>
            {% endif %}
        </ul>
        <a href="{{ url_for('profile_linked_update', username=username) }}"><p><small>Update List</small></p></a>
    </div>
{% endblock %}
