{% extends "profile/profile-generic.html" %}

{% block content %}
    <h2>History &amp Watchlists</h2>
    <hr>
    <div style="margin-left:20px;padding-top:25px">
        <div>
            <p><big>Your Watchlists:</big></p>
            <div>
                <!-- Route to page with individual watchlists -->
                {% for watch in page.watchlists %}
                    <a href="{{ url_for('profile_watchlist_each', listname=watch.title) }}">{{ watch.title }}</a>
                    <!-- Eventually have visual preview gallery of first few items -->
                {% endfor %}
            </div>
        </div>
        <br>
        <hr>
        <div>
            <p><big>Your recent watch history:</big></p>
            <!-- Set up proper css later -->
            <div>
                <!-- box of items in watchlist in list -->
                {% for title in page.recents %}
                    <div style="margin: 5px; border: 1px solid #ccc; float: left; width: 150px">
                        <!-- Want poster image - need to call up tmdb -->
                        <!-- <img style="width: 100%; height: auto"> -->
                        <!-- Eventually into links toward movie info pages -->
                        <p style="padding: 5px; text-align: center">{{ title }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>       
    </div>
{% endblock %}