{% extends "profile/profile-generic.html" %}

{% block content %}
    <h2>History &amp Watchlists</h2>
    <hr>
    <div style="margin-left:20px;padding-top:25px">
        <div>
            <h4>Your Watchlists:</h4>
            <div>
                <!-- <p>WARNING: IF WATCHLIST IS LONG, PAGE CURRENTLY TAKES VERY LONG TO LOAD</p> -->
                <!-- Route to page with individual watchlists -->
                {% for watch in page.watchlists %}
                    <p><a href="{{ url_for('profile_watchlist_each', username=username, watch_name=watch) }}">{{ watch }}</a></p>
                    <!-- Eventually have visual preview gallery of first few items -->
                {% endfor %}
            </div>
            <br>
            <a href="{{ url_for('profile_watchlist_add', username=username) }}"><small>+ Add Watchlist</small></a>
        </div>
        <br>
        <hr>
        <div>
            <h4>Your recent watch history:</h4>
            <!-- Set up proper css later -->
            <div style="display: flex">
                <!-- box of items in watchlist in list -->
                {% for content in page.recents %}
                    <!-- style below taken from w3school -->
                    <div style="margin: 5px; border: 1px solid #ccc; width: 150px">
                        <!-- Want poster image - need to call up tmdb -->
                        <img src="{{ content.url }}" style="width: 100%; height: auto">
                        <!-- Eventually into links toward movie info pages -->
                        <p style="padding: 5px; text-align: center">{{ content.title }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>       
    </div>
{% endblock %}