{% extends "profile/profile-generic.html" %}

{% block content %}
	<h2>Edit Profile</h2>
	<hr>
	<div style="margin-left:20px;padding-top:25px">
		<h4>Bio</h4>
		{## Retrieving bio info from database 
			IN MYSQL TABLE all_user_data COLUMN user_data #}
		<p>{{ bio }}</p>
		<p>Edit</p>
		{# <a class="action" href="{{ url_for('profile/profile-edit-bio') }}">Edit</a> #} {## Needs link #}
		<br>
		<p>Most common genre:</p>
	</div>
{% endblock %}


{#
	# want to figure out way to put "Bio" and "edit" on same line
	<div style="display: flex; flex-direction: column; flex-wrap: wrap"></div>
	<a class="action" href="{{ url_for('profile-bio.update') }}">Edit</a> 
#}