{% extends 'footer/footer-generic.html' %}

{% block title %}Report Bugs{% endblock %}

{% block content %}
	<h2>Report Bugs</h2>
	<hr>
	<div style="margin-left:20px;padding-top:25px">
		<p>Found something wrong on the site? Let us know!</p>
		<form method="post">
			<span>Your Name</span> 
	        <input type="text" name="name" required>
			<br>
			<br>
			<textarea name="report" id="report" onkeypress="enters(event)" rows="10" style="width: 90%;">{{ request.form['report'] }}</textarea>
			<br>
			<input type="submit" value="Save">
		</form>
	</div>
{% endblock %}
