{% extends 'footer/footer-generic.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
	<h2>Contact Us</h2>
	<hr>
	<div style="margin-left:20px;padding-top:25px">
		<h4>The Team at Group B</h4>
		<div class="list-group list-group-flush">
            <div class="list-group-item"> <!-- Jenny -->
                <div class="d-flex justify-content-between align-items-center">
                    <div><i class="fe-icon-shopping-bag mr-1 text-muted"></i>
                        <div class="d-inline-block font-weight-medium text-uppercase"><strong>Jenny Jiang</strong></div>
                        <hr>
                        <p style="padding-left: 1rem">Test about content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies ullamcorper ante et placerat. </p>
                    </div>
                </div>
            </div>
            <div class="list-group-item"> <!-- Kitty -->
                <div class="d-flex justify-content-between align-items-center">
                    <div><i class="fe-icon-shopping-bag mr-1 text-muted"></i>
                        <div class="d-inline-block font-weight-medium text-uppercase"><strong>Kitty Jiang</strong></div>
                        <hr>
                        <p style="padding-left: 1rem">Test about content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies ullamcorper ante et placerat. </p>
                    </div>
                </div>
            </div>
            <div class="list-group-item"> <!-- Helen -->
                <div class="d-flex justify-content-between align-items-center">
                    <div><i class="fe-icon-shopping-bag mr-1 text-muted"></i>
                        <div class="d-inline-block font-weight-medium text-uppercase"><strong>Helen Sun</strong></div>
                        <hr>
                        <p style="padding-left: 1rem">Test about content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies ullamcorper ante et placerat. </p>
                    </div>
                </div>
            </div>
            <div class="list-group-item"> <!-- Jessica -->
                <div class="d-flex justify-content-between align-items-center">
                    <div><i class="fe-icon-shopping-bag mr-1 text-muted"></i>
                        <div class="d-inline-block font-weight-medium text-uppercase"><strong>Jessica Wang</strong></div>
                        <hr>
                        <p style="padding-left: 1rem">Test about content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies ullamcorper ante et placerat. </p>
                    </div>
                </div>
            </div>
		</div>
	</div>
{% endblock %}
