{% extends 'footer/footer-generic.html' %}

{% block title %}FAQ{% endblock %}

{% block content %}
	<h2>Frequently Asked Questions</h2>
	<hr>
	<div style="margin-left:20px;padding-top:25px">
        <!-- Something -->
        <p><strong>Q: What is StreamLine?</strong></p>
        <p>Our project here at Group B, seeking to help you streamline the streaming services you're subscribed to.</p>
        <br>
        <p><strong>Q: What should I watch next?</strong></p>
        <p>At this time, StreamLine does not recommend what you should binge next, but we're working on it!</p>
	</div>
{% endblock %}
