{% extends 'footer/footer-generic.html' %}

{% block title %}About{% endblock %}

{% block content %}
	<h2>About Us</h2>
	<hr>
	<div style="margin-left:20px;padding-top:25px">
		<p>With so many streaming services competing for your time, attention, and especially money, we at StreamLine aim to simplify your selection process.</p>
		<p>Simply create or upload watchlists on your account and we’ll handle the rest. You’ll get a recommendation for which site is best for you to subscribe to. And for the stuff on your watchlist that’s not available for streaming, we’ll help you decide where’s the best place to buy or rent a copy.</p>
		<p>So kick back and relax. We’ll streamline things for you.</p>
	</div>
{% endblock %}
