{% extends 'footer/footer-generic.html' %}

{% block title %}FAQ{% endblock %}

{% block content %}
	<h2>Frequently Asked Questions</h2>
	<hr>
	<div style="margin-left:20px;padding-top:25px">
        <!-- Something -->
        <p><strong>Q: What is StreamLine?</strong></p>
        <p>Our project here at Group B, seeking to help you streamline the streaming services you're subscribed to.</p>
        <br>
        <p><strong>Q: What should I watch next?</strong></p>
        <p>At this time, StreamLine does not recommend what you should binge next, but we're working on it!</p>
        <br>
        <p><strong>Q: Where do you get your data from?</strong></p>
        <p>We use the <a href="https://rapidapi.com/utelly/api/utelly">Utelly API</a> to find where the movies and shows on your watchlists are located. To get poster images and other information, we use <a href="https://www.themoviedb.org/documentation/api">TMDb</a> along with information embedded in IMDb downloaded watchlists.</p>
        <p>We also scrape websites such as the Google Play Store and iTunes to get pricing information</p>
	</div>
{% endblock %}
