{% extends 'footer/footer-generic.html' %}

{% block title %}How to Upload IMDb Watchlists{% endblock %}

{% block content %}
	<h2>How to Upload Your IMDb Watchlist and Lists</h2>
	<hr>
	<div style="margin-left:20px;padding-top:25px">
		<p><b>1.</b> To find and download your IMDb watchlist, click the link to your watchlist either in IMDb's navigation bar or click the link in the dropdowm menu for your account in the navigation bar.</p>
		<img src="https://cdn.discordapp.com/attachments/662866532132585487/705811097445466152/unknown.png" style="max-width: 75%">
		<img src="https://cdn.discordapp.com/attachments/662866532132585487/705812887998038136/unknown.png" style="max-width: 75%; height: 300px">
		<br>
		<br>
		<p><b>2.</b> Head down to the bottom of your watchlist page and click the link "Export this list." Your browser will now download your watchlist. Save and upload your file as a .csv file.</p>
		<img src="https://cdn.discordapp.com/attachments/662866532132585487/705811372885147748/unknown.png" style="max-width: 75%; height: 250px">
		<br>
		<hr>
		<br>
		<p><big>You can also download your lists from IMDb and upload them into your StreamLine account.</big></p>
		<p><b>1.</b> From the navigation bar at the top of the page, click on the link for your account, then click the link "Your lists."</p>
		<img src="https://cdn.discordapp.com/attachments/662866532132585487/705812853612871790/unknown.png" style="max-width: 75%; height: 300px">
		<br>
		<br>
		<p><b>2.</b> Head to any of your lists and click the three stacked dots in the upper-right corner on the list's page.</p>
		<img src="https://cdn.discordapp.com/attachments/662866532132585487/705813212863528960/unknown.png" style="max-width: 75%; height: 425px">
		<br>
		<br>
		<p><b>3.</b> From the options that appear, click the link to "Export." Your browser will not download your watchlist.Save and upload your file as a .csv file.</p>
		<img src="https://cdn.discordapp.com/attachments/662866532132585487/705813295772336189/unknown.png" style="max-width: 75%">
	</div>
{% endblock %}